<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Games</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="header">
	<table class="center">
		<tr>
			<th ><h1>Games</h1></th>
		</tr>
	</table>
	<hr/>
	
	</div>
	<div class="games">
	
	<table class="center">
		<tr>
			<th><form th:action="@{/new}">
				<button type="submit" class="btn" id="new" value="new">Add new game</button>
			</form></th>
			<th><a href="home"><button class="btn" type="button">Home</button></a></th>
			<th><form th:action="@{/logout}" method="post">
        			<input  class="btn" type="submit" value="Sign Out"/>
        		</form></th>
		</tr>
	</table>
		<hr/>
		<table class="table">
			<thead>
            <tr>
               <th>Name</th>
               <th>Developer</th>
               <th>Genre</th>
               <th>Description</th>
               <th colspan="3" width=10%>Edit</th>
            </tr>
         </thead>
         </thead>
         <tbody>
         <tr th:each="str : ${list}">
            <td th:text=${str.name}></td>
            <td th:text=${str.developer}></td>
            <td th:text=${str.genre}></td>
            <td width="25%" th:text=${str.descrtiption}></td>
           <td>
            <form action="#" th:action="@{/new=} + ${{str.id}}" method="get">
               <button class="btn" th:id="'table_entry_childs_button_' + ${str.id}" type="submit">Update</button>
           	</form>
           	</td>
            <td>
            <form action="#" th:action="@{/delete=} + ${{str.id}}" method="get">
               <button class="btn" th:id="'table_entry_childs_button_' + ${str.id}" type="submit">Delete</button>
           	</form>
           	</td>
           	<td>
                <form action="#" th:action="@{/view=} + ${{str.id}}" method="get">
                           <button class="btn" th:id="'table_entry_childsbutton' + ${str.id}" type="submit" formtarget="_blank">View</button>
                 </form>
            </td>
         </tr>
         
         </tbody>
         
		</table>

	</div>
</body>
</html>